@use '@styles/vars.scss' as *;

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-block: 6px;
  margin-bottom: 0 !important;
  margin-left: 1rem;
  position: relative;

  &:hover {
    .minus {
      opacity: 1;
    }
  }
}

.minus {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;

  @media (max-width: $tablet) {
    opacity: 1;
  }
}
