.ant-tooltip-inner {
  font-family: 'Open Sans', sans-serif !important;
}

.ant-dropdown-menu-item {
  color: var(--secondary-300);
  font-size: 1.2rem !important;
}

.ant-typography {
  font-family: 'Open Sans', sans-serif !important;
}
