.ant-tooltip-inner {
  font-family: 'Golos Text', sans-serif !important;
}

.ant-dropdown-menu-item {
  font-family: 'Golos Text', sans-serif !important;
  font-size: 1.2rem !important;
}

.ant-typography {
  font-family: 'Golos Text', sans-serif !important;
}

.custom-toast-position {
  bottom: 100px !important;
}
