.ant-tooltip-inner {
  font-family: 'Golos Text', sans-serif !important;
}

.ant-dropdown-menu-item {
  font-family: 'Golos Text', sans-serif !important;
  font-size: 1.2rem !important;
}

.ant-typography {
  font-family: 'Golos Text', sans-serif !important;
}

.custom-toast-position {
  bottom: 100px !important;
}

.ant-picker-dropdown {
  z-index: 2000 !important;
}

.ant-picker:hover,
.ant-picker:active {
  border-color: var(--primary-200);
  box-shadow: none !important;
  outline: none !important;
}

.ant-picker-focused,
.ant-picker:focus {
  border-color: var(--secondary-500) !important;
}

.ant-picker-input > input::placeholder {
  color: var(--secondary-300) !important;
  font-size: 1rem;
}
