.title {
  text-align: center;
}

.icon {
  margin-inline: auto;
  color: var(--error-600);
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  & button {
    flex-basis: 50%;
  }
}

.exit {
  background-color: var(--secondary-200);
  color: var(--secondary-500);

  &:hover,
  &:focus {
    background-color: var(--secondary-200);
  }
}

.danger {
  background-color: var(--error-600);

  &:hover,
  &:focus {
    background-color: var(--error-500);
  }
}
