@use '@styles/vars.scss' as *;

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem 2rem;
  border-left: 1px solid var(--secondary-200);

  @media (max-width: $laptopL) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
}
