@use '@styles/vars.scss' as *;

.header {
  padding: 1rem;
  background-color: var(--primary-0);
  width: 100%;
  border-bottom: 1px solid var(--secondary-200);
}

.up,
.down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.down {
  justify-content: flex-end;
  margin-top: 1rem;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
}

.title {
  display: block;
}

.logo {
  display: none;
  align-items: center;
  gap: 6px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: $laptop) {
  .header {
    padding: 1.5rem;
  }
}

@media (max-width: $tablet) {
  .create {
    display: none;
  }
  .logo {
    display: flex;
  }
  .title {
    display: none;
  }
  .down {
    display: none;
  }

  .up {
    padding-inline: 0.5rem;
  }

  .header {
    padding: 0;
    height: var(--header-height);
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
  }

  .avatar {
    width: 45px !important;
    height: 45px !important;
  }
}
