.card {
  background-color: var(--primary-0);
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--primary-200);
}

.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--secondary-500);
  padding: 10px;
}

.up,
.down {
  display: flex;
  align-items: center;
}

.up {
  gap: 10px;
}

.fullName {
  font-weight: 600;
}

.down {
  margin-top: 1rem;
  color: var(--primary-500);
  font-size: 1.2rem;
  float: left;
}
