.label {
  font-size: 14px;
  color: var(--secondary-300);
}
.textarea {
  padding: 0.6rem 1rem;
  border: 1.5px solid var(--primary-200);
  transition: border-color 0.2s ease;
  outline: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  resize: none;
  &:focus {
    outline: none;
    border-color: var(--secondary-500);
  }
}

.textareaError {
  border-color: var(--error-600);
}

.error {
  color: var(--error-600);
  font-size: 12px;
}
